<%- layout('layout/boilerplate.ejs') %>
<main class="col-6 offset-3">
  <form
    action="/products/create"
    method="POST"
    class="needs-validation"
    novalidate
  >
    <label class="form-label" for="name">Name:</label>
    <input
      class="form-control"
      type="text"
      name="name"
      id="name"
      placeholder="Name"
      required
    />
    <label class="form-label" for="price">Price:</label>
    <input
      class="form-control"
      type="number"
      name="price"
      id="price"
      placeholder="Price"
      step="0.1"
      required
    />
    <label class="form-label" for="image">Image URL:</label>
    <input
      class="form-control"
      type="text"
      name="image"
      id="image"
      placeholder="Image URL"
      required
    />
    <label class="form-label" for="category">Category:</label>
    <select name="category" id="category" class="form-select" required>
      <% for(category of categories){ %>
      <option value="<%= category %>"><%= category %></option>
      <% } %>
    </select>
    <label class="form-label" for="store">Store:</label>
    <select name="store" id="store" class="form-select" required>
      <% for(store of stores){ %>
      <option value="<%= store.id %>"><%= store.name %></option>
      <% } %>
    </select>
    <button class="btn btn-success mt-2">
      <i class="bi bi-check-square me-1"></i>Save
    </button>
    <a href="/" class="btn btn-primary mt-2"
      ><i class="bi bi-house-door me-2"></i>Home Page</a
    >
  </form>
</main>
