<%- layout('layout/boilerplate.ejs') %>
<main class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
  <h1 class="text-center text-white"><%= product.name %></h1>
  <img class="image" src="<%= product.image %>" alt="product image" />
  <ul class="list-group mb-3">
    <li class="list-group-item">Price: $<%= product.price %></li>
    <li class="list-group-item">Category: <%= product.category %></li>
    <li class="list-group-item">Store: <%= product.store.name %></li>
  </ul>
</main>
