<%- layout('layout/boilerplate.ejs') %>
<div class="row">
  <% for(let product of products) { %>
  <div class="col-sm-6 col-lg-4">
    <div class="card align-items-center mx-auto my-2" style="width: 18rem">
      <div
        class="mt-2"
        style="
          background: url('<%= product.image %>');
          background-size: cover;
          background-position: center;
          width: 17rem;
          aspect-ratio: 1;
          overflow: hidden;
          border-radius: 0.25rem;
        "
      ></div>
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <p class="card-text">Category: <%= product.category %></p>
        <p class="card-text">Price: <%= product.price %> $</p>
        <a href="/products/id=<%= product.id %>/update" class="btn btn-warning"
          ><i class="bi bi-arrow-clockwise me-2"></i>Update</a
        >
        <form
          class="mt-2 d-inline"
          action="/products/id=<%= product.id %>/delete?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger">
            <i class="bi bi-trash me-2"></i>Delete
          </button>
        </form>
      </div>
    </div>
  </div>
  <% } %>
</div>
